@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@import "tailwindcss";

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;

  /* Paleta de colores */
  --color-1: #AC6AFF;
  --color-2: #FFC876;
  --color-3: #FF776F;
  --color-4: #7ADB78;
  --color-5: #858DFF;
  --color-6: #FF98E2;

  --stroke-1: #26242C;

  --n-1: #FFFFFF;
  --n-2: #CAC6DD;
  --n-3: #ADA8C3;
  --n-4: #757185;
  --n-5: #3F3A52;
  --n-6: #252134;
  --n-7: #15131D;
  --n-8: #0E0C15;
  --n-9: #474060;
  --n-10: #43435C;
  --n-11: #1B1B2E;
  --n-12: #2E2A41;
  --n-13: #6C7275;

  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

.tracking-tagline {
  letter-spacing: 0.15em;
}

.font-code {
  font-family: var(--font-code);
}

.tagline {
  font-family: var(--font-grotesk);
  font-weight: 300; /* Si font-light no funciona, usa font-weight 300 */
  font-size: 0.875rem; /* Ajuste del tamaño de la fuente */
  letter-spacing: 0.15em;
  border: .2rem red solid;
  text-transform: uppercase;
}

.button {
  font-family: var(--font-code);
  font-size: 0.75rem; /* Ajuste del tamaño de la fuente */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


@layer base {
  body {
    @apply font-sans text-base;
    background-color: var(--n-8);
    color: var(--n-1);
  }
}

@layer utilities {
  .bg-n-8 { background-color: var(--n-8); }

  .p-0\.25 { padding: 0.0625rem; }
  .p-7\.5 { padding: 1.875rem; }
  .p-15 { padding: 3.75rem; }

  .opacity-15 { opacity: 0.15; }

  .duration-default { transition-duration: 200ms; }
  .ease-default { transition-timing-function: linear; }

  .z-1 { z-index: 1; }
  .z-2 { z-index: 2; }
  .z-3 { z-index: 3; }
  .z-4 { z-index: 4; }
  .z-5 { z-index: 5; }

  .border-default { border-width: 0.0625rem; }

  .bg-radial-gradient {
    background-image: radial-gradient(var(--tw-gradient-stops));
  }

  .bg-conic-gradient {
    background-image: conic-gradient(
      from 225deg,
      #FFC876,
      #79FFF7,
      #9F53FF,
      #FF98E2,
      #FFC876
    );
  }

  /* Tipografías */
  .font-sans {
    font-family: var(--font-sora), ui-sans-serif, system-ui;
  }
  .font-grotesk {
    font-family: var(--font-grotesk);
  }
}

@layer components {
  .container {
    @apply max-w-[77.5rem] mx-auto px-5 md:px-10 lg:px-15 xl:max-w-[87.5rem];
  }

  .h1 {
    @apply font-semibold text-[2.5rem] leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem];
  }

  .h2 {
    @apply text-[1.75rem] leading-[2.5rem] md:text-[2rem] md:leading-[2.5rem] lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem] xl:leading-tight;
  }

  .h3 {
    @apply text-[2rem] leading-normal md:text-[2.5rem];
  }

  .h4 {
    @apply text-[2rem] leading-normal;
  }

  .h5 {
    @apply text-2xl leading-normal;
  }

  .h6 {
    @apply font-semibold text-lg leading-8;
  }

  .body-1 {
    @apply text-[0.875rem] leading-[1.5rem] md:text-[1rem] md:leading-[1.75rem] lg:text-[1.25rem] lg:leading-8;
  }

  .body-2 {
    @apply font-light text-[0.875rem] leading-6 md:text-base;
  }

  .caption {
    @apply text-sm;
  }

  .quote {
    font-family: var(--font-code);
    @apply text-lg leading-normal;
  }

}

@layer utilities {
  .tap-highlight-color {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
